.left-1px {
  left: 1px;
}
.left-2px {
  left: 2px;
}
.left-3px {
  left: 3px;
}
.left-4px {
  left: 4px;
}
.left-5px {
  left: 5px;
}
.left-6px {
  left: 6px;
}
.left-7px {
  left: 7px;
}
.left-8px {
  left: 8px;
}
.left-9px {
  left: 9px;
}
.left-10px {
  left: 10px;
}
.left-11px {
  left: 11px;
}
.left-12px {
  left: 12px;
}
.left-13px {
  left: 13px;
}
.left-14px {
  left: 14px;
}
.left-15px {
  left: 15px;
}
.left-16px {
  left: 16px;
}
.left-17px {
  left: 17px;
}
.left-18px {
  left: 18px;
}
.left-19px {
  left: 19px;
}
.left-20px {
  left: 20px;
}
.left-21px {
  left: 21px;
}
.left-22px {
  left: 22px;
}
.left-23px {
  left: 23px;
}
.left-24px {
  left: 24px;
}
.left-25px {
  left: 25px;
}
.left-26px {
  left: 26px;
}
.left-27px {
  left: 27px;
}
.left-28px {
  left: 28px;
}
.left-29px {
  left: 29px;
}
.left-30px {
  left: 30px;
}
.left-31px {
  left: 31px;
}
.left-32px {
  left: 32px;
}
.left-33px {
  left: 33px;
}
.left-34px {
  left: 34px;
}
.left-35px {
  left: 35px;
}
.left-36px {
  left: 36px;
}
.left-37px {
  left: 37px;
}
.left-38px {
  left: 38px;
}
.left-39px {
  left: 39px;
}
.left-40px {
  left: 40px;
}
.left-41px {
  left: 41px;
}
.left-42px {
  left: 42px;
}
.left-43px {
  left: 43px;
}
.left-44px {
  left: 44px;
}
.left-45px {
  left: 45px;
}
.left-46px {
  left: 46px;
}
.left-47px {
  left: 47px;
}
.left-48px {
  left: 48px;
}
.left-49px {
  left: 49px;
}
.left-50px {
  left: 50px;
}
.left-51px {
  left: 51px;
}
.left-52px {
  left: 52px;
}
.left-53px {
  left: 53px;
}
.left-54px {
  left: 54px;
}
.left-55px {
  left: 55px;
}
.left-56px {
  left: 56px;
}
.left-57px {
  left: 57px;
}
.left-58px {
  left: 58px;
}
.left-59px {
  left: 59px;
}
.left-60px {
  left: 60px;
}
.left-61px {
  left: 61px;
}
.left-62px {
  left: 62px;
}
.left-63px {
  left: 63px;
}
.left-64px {
  left: 64px;
}
