.right-1px {
  right: 1px;
}
.right-2px {
  right: 2px;
}
.right-3px {
  right: 3px;
}
.right-4px {
  right: 4px;
}
.right-5px {
  right: 5px;
}
.right-6px {
  right: 6px;
}
.right-7px {
  right: 7px;
}
.right-8px {
  right: 8px;
}
.right-9px {
  right: 9px;
}
.right-10px {
  right: 10px;
}
.right-11px {
  right: 11px;
}
.right-12px {
  right: 12px;
}
.right-13px {
  right: 13px;
}
.right-14px {
  right: 14px;
}
.right-15px {
  right: 15px;
}
.right-16px {
  right: 16px;
}
.right-17px {
  right: 17px;
}
.right-18px {
  right: 18px;
}
.right-19px {
  right: 19px;
}
.right-20px {
  right: 20px;
}
.right-21px {
  right: 21px;
}
.right-22px {
  right: 22px;
}
.right-23px {
  right: 23px;
}
.right-24px {
  right: 24px;
}
.right-25px {
  right: 25px;
}
.right-26px {
  right: 26px;
}
.right-27px {
  right: 27px;
}
.right-28px {
  right: 28px;
}
.right-29px {
  right: 29px;
}
.right-30px {
  right: 30px;
}
.right-31px {
  right: 31px;
}
.right-32px {
  right: 32px;
}
.right-33px {
  right: 33px;
}
.right-34px {
  right: 34px;
}
.right-35px {
  right: 35px;
}
.right-36px {
  right: 36px;
}
.right-37px {
  right: 37px;
}
.right-38px {
  right: 38px;
}
.right-39px {
  right: 39px;
}
.right-40px {
  right: 40px;
}
.right-41px {
  right: 41px;
}
.right-42px {
  right: 42px;
}
.right-43px {
  right: 43px;
}
.right-44px {
  right: 44px;
}
.right-45px {
  right: 45px;
}
.right-46px {
  right: 46px;
}
.right-47px {
  right: 47px;
}
.right-48px {
  right: 48px;
}
.right-49px {
  right: 49px;
}
.right-50px {
  right: 50px;
}
.right-51px {
  right: 51px;
}
.right-52px {
  right: 52px;
}
.right-53px {
  right: 53px;
}
.right-54px {
  right: 54px;
}
.right-55px {
  right: 55px;
}
.right-56px {
  right: 56px;
}
.right-57px {
  right: 57px;
}
.right-58px {
  right: 58px;
}
.right-59px {
  right: 59px;
}
.right-60px {
  right: 60px;
}
.right-61px {
  right: 61px;
}
.right-62px {
  right: 62px;
}
.right-63px {
  right: 63px;
}
.right-64px {
  right: 64px;
}
