.align-content-baseline {
  align-content: baseline;
}
.align-content-end {
  align-content: end;
}
.align-content-center {
  align-content: center;
}
.align-content-start {
  align-content: start;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-end {
  align-items: end;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}
.justify-content-baseline {
  justify-content: baseline;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-start {
  justify-content: start;
}
.justify-items-baseline {
  justify-items: baseline;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-start {
  justify-items: start;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
