.margin-0-25px {
  margin: 0.25px;
}
.margin-0-5px {
  margin: 0.5px;
}
.margin-0-75px {
  margin: 0.75px;
}
.margin-1px {
  margin: 1px;
}
.margin-1-25px {
  margin: 1.25px;
}
.margin-1-5px {
  margin: 1.5px;
}
.margin-1-75px {
  margin: 1.75px;
}
.margin-2px {
  margin: 2px;
}
.margin-2-25px {
  margin: 2.25px;
}
.margin-2-5px {
  margin: 2.5px;
}
.margin-2-75px {
  margin: 2.75px;
}
.margin-3px {
  margin: 3px;
}
.margin-3-25px {
  margin: 3.25px;
}
.margin-3-5px {
  margin: 3.5px;
}
.margin-3-75px {
  margin: 3.75px;
}
.margin-4px {
  margin: 4px;
}
.margin-4-25px {
  margin: 4.25px;
}
.margin-4-5px {
  margin: 4.5px;
}
.margin-4-75px {
  margin: 4.75px;
}
.margin-5px {
  margin: 5px;
}
.margin-5-25px {
  margin: 5.25px;
}
.margin-5-5px {
  margin: 5.5px;
}
.margin-5-75px {
  margin: 5.75px;
}
.margin-6px {
  margin: 6px;
}
.margin-6-25px {
  margin: 6.25px;
}
.margin-6-5px {
  margin: 6.5px;
}
.margin-6-75px {
  margin: 6.75px;
}
.margin-7px {
  margin: 7px;
}
.margin-7-25px {
  margin: 7.25px;
}
.margin-7-5px {
  margin: 7.5px;
}
.margin-7-75px {
  margin: 7.75px;
}
.margin-8px {
  margin: 8px;
}
.margin-8-25px {
  margin: 8.25px;
}
.margin-8-5px {
  margin: 8.5px;
}
.margin-8-75px {
  margin: 8.75px;
}
.margin-9px {
  margin: 9px;
}
.margin-9-25px {
  margin: 9.25px;
}
.margin-9-5px {
  margin: 9.5px;
}
.margin-9-75px {
  margin: 9.75px;
}
.margin-10px {
  margin: 10px;
}
.margin-10-25px {
  margin: 10.25px;
}
.margin-10-5px {
  margin: 10.5px;
}
.margin-10-75px {
  margin: 10.75px;
}
.margin-11px {
  margin: 11px;
}
.margin-11-25px {
  margin: 11.25px;
}
.margin-11-5px {
  margin: 11.5px;
}
.margin-11-75px {
  margin: 11.75px;
}
.margin-12px {
  margin: 12px;
}
.margin-12-25px {
  margin: 12.25px;
}
.margin-12-5px {
  margin: 12.5px;
}
.margin-12-75px {
  margin: 12.75px;
}
.margin-13px {
  margin: 13px;
}
.margin-13-25px {
  margin: 13.25px;
}
.margin-13-5px {
  margin: 13.5px;
}
.margin-13-75px {
  margin: 13.75px;
}
.margin-14px {
  margin: 14px;
}
.margin-14-25px {
  margin: 14.25px;
}
.margin-14-5px {
  margin: 14.5px;
}
.margin-14-75px {
  margin: 14.75px;
}
.margin-15px {
  margin: 15px;
}
.margin-15-25px {
  margin: 15.25px;
}
.margin-15-5px {
  margin: 15.5px;
}
.margin-15-75px {
  margin: 15.75px;
}
.margin-16px {
  margin: 16px;
}
.margin-16-25px {
  margin: 16.25px;
}
.margin-16-5px {
  margin: 16.5px;
}
.margin-16-75px {
  margin: 16.75px;
}
.margin-17px {
  margin: 17px;
}
.margin-17-25px {
  margin: 17.25px;
}
.margin-17-5px {
  margin: 17.5px;
}
.margin-17-75px {
  margin: 17.75px;
}
.margin-18px {
  margin: 18px;
}
.margin-18-25px {
  margin: 18.25px;
}
.margin-18-5px {
  margin: 18.5px;
}
.margin-18-75px {
  margin: 18.75px;
}
.margin-19px {
  margin: 19px;
}
.margin-19-25px {
  margin: 19.25px;
}
.margin-19-5px {
  margin: 19.5px;
}
.margin-19-75px {
  margin: 19.75px;
}
.margin-20px {
  margin: 20px;
}
.margin-20-25px {
  margin: 20.25px;
}
.margin-20-5px {
  margin: 20.5px;
}
.margin-20-75px {
  margin: 20.75px;
}
.margin-21px {
  margin: 21px;
}
.margin-21-25px {
  margin: 21.25px;
}
.margin-21-5px {
  margin: 21.5px;
}
.margin-21-75px {
  margin: 21.75px;
}
.margin-22px {
  margin: 22px;
}
.margin-22-25px {
  margin: 22.25px;
}
.margin-22-5px {
  margin: 22.5px;
}
.margin-22-75px {
  margin: 22.75px;
}
.margin-23px {
  margin: 23px;
}
.margin-23-25px {
  margin: 23.25px;
}
.margin-23-5px {
  margin: 23.5px;
}
.margin-23-75px {
  margin: 23.75px;
}
.margin-24px {
  margin: 24px;
}
.margin-24-25px {
  margin: 24.25px;
}
.margin-24-5px {
  margin: 24.5px;
}
.margin-24-75px {
  margin: 24.75px;
}
.margin-25px {
  margin: 25px;
}
.margin-25-25px {
  margin: 25.25px;
}
.margin-25-5px {
  margin: 25.5px;
}
.margin-25-75px {
  margin: 25.75px;
}
.margin-26px {
  margin: 26px;
}
.margin-26-25px {
  margin: 26.25px;
}
.margin-26-5px {
  margin: 26.5px;
}
.margin-26-75px {
  margin: 26.75px;
}
.margin-27px {
  margin: 27px;
}
.margin-27-25px {
  margin: 27.25px;
}
.margin-27-5px {
  margin: 27.5px;
}
.margin-27-75px {
  margin: 27.75px;
}
.margin-28px {
  margin: 28px;
}
.margin-28-25px {
  margin: 28.25px;
}
.margin-28-5px {
  margin: 28.5px;
}
.margin-28-75px {
  margin: 28.75px;
}
.margin-29px {
  margin: 29px;
}
.margin-29-25px {
  margin: 29.25px;
}
.margin-29-5px {
  margin: 29.5px;
}
.margin-29-75px {
  margin: 29.75px;
}
.margin-30px {
  margin: 30px;
}
.margin-30-25px {
  margin: 30.25px;
}
.margin-30-5px {
  margin: 30.5px;
}
.margin-30-75px {
  margin: 30.75px;
}
.margin-31px {
  margin: 31px;
}
.margin-31-25px {
  margin: 31.25px;
}
.margin-31-5px {
  margin: 31.5px;
}
.margin-31-75px {
  margin: 31.75px;
}
.margin-32px {
  margin: 32px;
}
.margin-32-25px {
  margin: 32.25px;
}
.margin-32-5px {
  margin: 32.5px;
}
.margin-32-75px {
  margin: 32.75px;
}
.margin-33px {
  margin: 33px;
}
.margin-33-25px {
  margin: 33.25px;
}
.margin-33-5px {
  margin: 33.5px;
}
.margin-33-75px {
  margin: 33.75px;
}
.margin-34px {
  margin: 34px;
}
.margin-34-25px {
  margin: 34.25px;
}
.margin-34-5px {
  margin: 34.5px;
}
.margin-34-75px {
  margin: 34.75px;
}
.margin-35px {
  margin: 35px;
}
.margin-35-25px {
  margin: 35.25px;
}
.margin-35-5px {
  margin: 35.5px;
}
.margin-35-75px {
  margin: 35.75px;
}
.margin-36px {
  margin: 36px;
}
.margin-36-25px {
  margin: 36.25px;
}
.margin-36-5px {
  margin: 36.5px;
}
.margin-36-75px {
  margin: 36.75px;
}
.margin-37px {
  margin: 37px;
}
.margin-37-25px {
  margin: 37.25px;
}
.margin-37-5px {
  margin: 37.5px;
}
.margin-37-75px {
  margin: 37.75px;
}
.margin-38px {
  margin: 38px;
}
.margin-38-25px {
  margin: 38.25px;
}
.margin-38-5px {
  margin: 38.5px;
}
.margin-38-75px {
  margin: 38.75px;
}
.margin-39px {
  margin: 39px;
}
.margin-39-25px {
  margin: 39.25px;
}
.margin-39-5px {
  margin: 39.5px;
}
.margin-39-75px {
  margin: 39.75px;
}
.margin-40px {
  margin: 40px;
}
