.padding-right-0-25px {
  padding-right: 0.25px;
}
.padding-right-0-5px {
  padding-right: 0.5px;
}
.padding-right-0-75px {
  padding-right: 0.75px;
}
.padding-right-1px {
  padding-right: 1px;
}
.padding-right-1-25px {
  padding-right: 1.25px;
}
.padding-right-1-5px {
  padding-right: 1.5px;
}
.padding-right-1-75px {
  padding-right: 1.75px;
}
.padding-right-2px {
  padding-right: 2px;
}
.padding-right-2-25px {
  padding-right: 2.25px;
}
.padding-right-2-5px {
  padding-right: 2.5px;
}
.padding-right-2-75px {
  padding-right: 2.75px;
}
.padding-right-3px {
  padding-right: 3px;
}
.padding-right-3-25px {
  padding-right: 3.25px;
}
.padding-right-3-5px {
  padding-right: 3.5px;
}
.padding-right-3-75px {
  padding-right: 3.75px;
}
.padding-right-4px {
  padding-right: 4px;
}
.padding-right-4-25px {
  padding-right: 4.25px;
}
.padding-right-4-5px {
  padding-right: 4.5px;
}
.padding-right-4-75px {
  padding-right: 4.75px;
}
.padding-right-5px {
  padding-right: 5px;
}
.padding-right-5-25px {
  padding-right: 5.25px;
}
.padding-right-5-5px {
  padding-right: 5.5px;
}
.padding-right-5-75px {
  padding-right: 5.75px;
}
.padding-right-6px {
  padding-right: 6px;
}
.padding-right-6-25px {
  padding-right: 6.25px;
}
.padding-right-6-5px {
  padding-right: 6.5px;
}
.padding-right-6-75px {
  padding-right: 6.75px;
}
.padding-right-7px {
  padding-right: 7px;
}
.padding-right-7-25px {
  padding-right: 7.25px;
}
.padding-right-7-5px {
  padding-right: 7.5px;
}
.padding-right-7-75px {
  padding-right: 7.75px;
}
.padding-right-8px {
  padding-right: 8px;
}
.padding-right-8-25px {
  padding-right: 8.25px;
}
.padding-right-8-5px {
  padding-right: 8.5px;
}
.padding-right-8-75px {
  padding-right: 8.75px;
}
.padding-right-9px {
  padding-right: 9px;
}
.padding-right-9-25px {
  padding-right: 9.25px;
}
.padding-right-9-5px {
  padding-right: 9.5px;
}
.padding-right-9-75px {
  padding-right: 9.75px;
}
.padding-right-10px {
  padding-right: 10px;
}
.padding-right-10-25px {
  padding-right: 10.25px;
}
.padding-right-10-5px {
  padding-right: 10.5px;
}
.padding-right-10-75px {
  padding-right: 10.75px;
}
.padding-right-11px {
  padding-right: 11px;
}
.padding-right-11-25px {
  padding-right: 11.25px;
}
.padding-right-11-5px {
  padding-right: 11.5px;
}
.padding-right-11-75px {
  padding-right: 11.75px;
}
.padding-right-12px {
  padding-right: 12px;
}
.padding-right-12-25px {
  padding-right: 12.25px;
}
.padding-right-12-5px {
  padding-right: 12.5px;
}
.padding-right-12-75px {
  padding-right: 12.75px;
}
.padding-right-13px {
  padding-right: 13px;
}
.padding-right-13-25px {
  padding-right: 13.25px;
}
.padding-right-13-5px {
  padding-right: 13.5px;
}
.padding-right-13-75px {
  padding-right: 13.75px;
}
.padding-right-14px {
  padding-right: 14px;
}
.padding-right-14-25px {
  padding-right: 14.25px;
}
.padding-right-14-5px {
  padding-right: 14.5px;
}
.padding-right-14-75px {
  padding-right: 14.75px;
}
.padding-right-15px {
  padding-right: 15px;
}
.padding-right-15-25px {
  padding-right: 15.25px;
}
.padding-right-15-5px {
  padding-right: 15.5px;
}
.padding-right-15-75px {
  padding-right: 15.75px;
}
.padding-right-16px {
  padding-right: 16px;
}
.padding-right-16-25px {
  padding-right: 16.25px;
}
.padding-right-16-5px {
  padding-right: 16.5px;
}
.padding-right-16-75px {
  padding-right: 16.75px;
}
.padding-right-17px {
  padding-right: 17px;
}
.padding-right-17-25px {
  padding-right: 17.25px;
}
.padding-right-17-5px {
  padding-right: 17.5px;
}
.padding-right-17-75px {
  padding-right: 17.75px;
}
.padding-right-18px {
  padding-right: 18px;
}
.padding-right-18-25px {
  padding-right: 18.25px;
}
.padding-right-18-5px {
  padding-right: 18.5px;
}
.padding-right-18-75px {
  padding-right: 18.75px;
}
.padding-right-19px {
  padding-right: 19px;
}
.padding-right-19-25px {
  padding-right: 19.25px;
}
.padding-right-19-5px {
  padding-right: 19.5px;
}
.padding-right-19-75px {
  padding-right: 19.75px;
}
.padding-right-20px {
  padding-right: 20px;
}
.padding-right-20-25px {
  padding-right: 20.25px;
}
.padding-right-20-5px {
  padding-right: 20.5px;
}
.padding-right-20-75px {
  padding-right: 20.75px;
}
.padding-right-21px {
  padding-right: 21px;
}
.padding-right-21-25px {
  padding-right: 21.25px;
}
.padding-right-21-5px {
  padding-right: 21.5px;
}
.padding-right-21-75px {
  padding-right: 21.75px;
}
.padding-right-22px {
  padding-right: 22px;
}
.padding-right-22-25px {
  padding-right: 22.25px;
}
.padding-right-22-5px {
  padding-right: 22.5px;
}
.padding-right-22-75px {
  padding-right: 22.75px;
}
.padding-right-23px {
  padding-right: 23px;
}
.padding-right-23-25px {
  padding-right: 23.25px;
}
.padding-right-23-5px {
  padding-right: 23.5px;
}
.padding-right-23-75px {
  padding-right: 23.75px;
}
.padding-right-24px {
  padding-right: 24px;
}
.padding-right-24-25px {
  padding-right: 24.25px;
}
.padding-right-24-5px {
  padding-right: 24.5px;
}
.padding-right-24-75px {
  padding-right: 24.75px;
}
.padding-right-25px {
  padding-right: 25px;
}
.padding-right-25-25px {
  padding-right: 25.25px;
}
.padding-right-25-5px {
  padding-right: 25.5px;
}
.padding-right-25-75px {
  padding-right: 25.75px;
}
.padding-right-26px {
  padding-right: 26px;
}
.padding-right-26-25px {
  padding-right: 26.25px;
}
.padding-right-26-5px {
  padding-right: 26.5px;
}
.padding-right-26-75px {
  padding-right: 26.75px;
}
.padding-right-27px {
  padding-right: 27px;
}
.padding-right-27-25px {
  padding-right: 27.25px;
}
.padding-right-27-5px {
  padding-right: 27.5px;
}
.padding-right-27-75px {
  padding-right: 27.75px;
}
.padding-right-28px {
  padding-right: 28px;
}
.padding-right-28-25px {
  padding-right: 28.25px;
}
.padding-right-28-5px {
  padding-right: 28.5px;
}
.padding-right-28-75px {
  padding-right: 28.75px;
}
.padding-right-29px {
  padding-right: 29px;
}
.padding-right-29-25px {
  padding-right: 29.25px;
}
.padding-right-29-5px {
  padding-right: 29.5px;
}
.padding-right-29-75px {
  padding-right: 29.75px;
}
.padding-right-30px {
  padding-right: 30px;
}
.padding-right-30-25px {
  padding-right: 30.25px;
}
.padding-right-30-5px {
  padding-right: 30.5px;
}
.padding-right-30-75px {
  padding-right: 30.75px;
}
.padding-right-31px {
  padding-right: 31px;
}
.padding-right-31-25px {
  padding-right: 31.25px;
}
.padding-right-31-5px {
  padding-right: 31.5px;
}
.padding-right-31-75px {
  padding-right: 31.75px;
}
.padding-right-32px {
  padding-right: 32px;
}
.padding-right-32-25px {
  padding-right: 32.25px;
}
.padding-right-32-5px {
  padding-right: 32.5px;
}
.padding-right-32-75px {
  padding-right: 32.75px;
}
.padding-right-33px {
  padding-right: 33px;
}
.padding-right-33-25px {
  padding-right: 33.25px;
}
.padding-right-33-5px {
  padding-right: 33.5px;
}
.padding-right-33-75px {
  padding-right: 33.75px;
}
.padding-right-34px {
  padding-right: 34px;
}
.padding-right-34-25px {
  padding-right: 34.25px;
}
.padding-right-34-5px {
  padding-right: 34.5px;
}
.padding-right-34-75px {
  padding-right: 34.75px;
}
.padding-right-35px {
  padding-right: 35px;
}
.padding-right-35-25px {
  padding-right: 35.25px;
}
.padding-right-35-5px {
  padding-right: 35.5px;
}
.padding-right-35-75px {
  padding-right: 35.75px;
}
.padding-right-36px {
  padding-right: 36px;
}
.padding-right-36-25px {
  padding-right: 36.25px;
}
.padding-right-36-5px {
  padding-right: 36.5px;
}
.padding-right-36-75px {
  padding-right: 36.75px;
}
.padding-right-37px {
  padding-right: 37px;
}
.padding-right-37-25px {
  padding-right: 37.25px;
}
.padding-right-37-5px {
  padding-right: 37.5px;
}
.padding-right-37-75px {
  padding-right: 37.75px;
}
.padding-right-38px {
  padding-right: 38px;
}
.padding-right-38-25px {
  padding-right: 38.25px;
}
.padding-right-38-5px {
  padding-right: 38.5px;
}
.padding-right-38-75px {
  padding-right: 38.75px;
}
.padding-right-39px {
  padding-right: 39px;
}
.padding-right-39-25px {
  padding-right: 39.25px;
}
.padding-right-39-5px {
  padding-right: 39.5px;
}
.padding-right-39-75px {
  padding-right: 39.75px;
}
.padding-right-40px {
  padding-right: 40px;
}
