.padding-0-25px {
  padding: 0.25px;
}
.padding-0-5px {
  padding: 0.5px;
}
.padding-0-75px {
  padding: 0.75px;
}
.padding-1px {
  padding: 1px;
}
.padding-1-25px {
  padding: 1.25px;
}
.padding-1-5px {
  padding: 1.5px;
}
.padding-1-75px {
  padding: 1.75px;
}
.padding-2px {
  padding: 2px;
}
.padding-2-25px {
  padding: 2.25px;
}
.padding-2-5px {
  padding: 2.5px;
}
.padding-2-75px {
  padding: 2.75px;
}
.padding-3px {
  padding: 3px;
}
.padding-3-25px {
  padding: 3.25px;
}
.padding-3-5px {
  padding: 3.5px;
}
.padding-3-75px {
  padding: 3.75px;
}
.padding-4px {
  padding: 4px;
}
.padding-4-25px {
  padding: 4.25px;
}
.padding-4-5px {
  padding: 4.5px;
}
.padding-4-75px {
  padding: 4.75px;
}
.padding-5px {
  padding: 5px;
}
.padding-5-25px {
  padding: 5.25px;
}
.padding-5-5px {
  padding: 5.5px;
}
.padding-5-75px {
  padding: 5.75px;
}
.padding-6px {
  padding: 6px;
}
.padding-6-25px {
  padding: 6.25px;
}
.padding-6-5px {
  padding: 6.5px;
}
.padding-6-75px {
  padding: 6.75px;
}
.padding-7px {
  padding: 7px;
}
.padding-7-25px {
  padding: 7.25px;
}
.padding-7-5px {
  padding: 7.5px;
}
.padding-7-75px {
  padding: 7.75px;
}
.padding-8px {
  padding: 8px;
}
.padding-8-25px {
  padding: 8.25px;
}
.padding-8-5px {
  padding: 8.5px;
}
.padding-8-75px {
  padding: 8.75px;
}
.padding-9px {
  padding: 9px;
}
.padding-9-25px {
  padding: 9.25px;
}
.padding-9-5px {
  padding: 9.5px;
}
.padding-9-75px {
  padding: 9.75px;
}
.padding-10px {
  padding: 10px;
}
.padding-10-25px {
  padding: 10.25px;
}
.padding-10-5px {
  padding: 10.5px;
}
.padding-10-75px {
  padding: 10.75px;
}
.padding-11px {
  padding: 11px;
}
.padding-11-25px {
  padding: 11.25px;
}
.padding-11-5px {
  padding: 11.5px;
}
.padding-11-75px {
  padding: 11.75px;
}
.padding-12px {
  padding: 12px;
}
.padding-12-25px {
  padding: 12.25px;
}
.padding-12-5px {
  padding: 12.5px;
}
.padding-12-75px {
  padding: 12.75px;
}
.padding-13px {
  padding: 13px;
}
.padding-13-25px {
  padding: 13.25px;
}
.padding-13-5px {
  padding: 13.5px;
}
.padding-13-75px {
  padding: 13.75px;
}
.padding-14px {
  padding: 14px;
}
.padding-14-25px {
  padding: 14.25px;
}
.padding-14-5px {
  padding: 14.5px;
}
.padding-14-75px {
  padding: 14.75px;
}
.padding-15px {
  padding: 15px;
}
.padding-15-25px {
  padding: 15.25px;
}
.padding-15-5px {
  padding: 15.5px;
}
.padding-15-75px {
  padding: 15.75px;
}
.padding-16px {
  padding: 16px;
}
.padding-16-25px {
  padding: 16.25px;
}
.padding-16-5px {
  padding: 16.5px;
}
.padding-16-75px {
  padding: 16.75px;
}
.padding-17px {
  padding: 17px;
}
.padding-17-25px {
  padding: 17.25px;
}
.padding-17-5px {
  padding: 17.5px;
}
.padding-17-75px {
  padding: 17.75px;
}
.padding-18px {
  padding: 18px;
}
.padding-18-25px {
  padding: 18.25px;
}
.padding-18-5px {
  padding: 18.5px;
}
.padding-18-75px {
  padding: 18.75px;
}
.padding-19px {
  padding: 19px;
}
.padding-19-25px {
  padding: 19.25px;
}
.padding-19-5px {
  padding: 19.5px;
}
.padding-19-75px {
  padding: 19.75px;
}
.padding-20px {
  padding: 20px;
}
.padding-20-25px {
  padding: 20.25px;
}
.padding-20-5px {
  padding: 20.5px;
}
.padding-20-75px {
  padding: 20.75px;
}
.padding-21px {
  padding: 21px;
}
.padding-21-25px {
  padding: 21.25px;
}
.padding-21-5px {
  padding: 21.5px;
}
.padding-21-75px {
  padding: 21.75px;
}
.padding-22px {
  padding: 22px;
}
.padding-22-25px {
  padding: 22.25px;
}
.padding-22-5px {
  padding: 22.5px;
}
.padding-22-75px {
  padding: 22.75px;
}
.padding-23px {
  padding: 23px;
}
.padding-23-25px {
  padding: 23.25px;
}
.padding-23-5px {
  padding: 23.5px;
}
.padding-23-75px {
  padding: 23.75px;
}
.padding-24px {
  padding: 24px;
}
.padding-24-25px {
  padding: 24.25px;
}
.padding-24-5px {
  padding: 24.5px;
}
.padding-24-75px {
  padding: 24.75px;
}
.padding-25px {
  padding: 25px;
}
.padding-25-25px {
  padding: 25.25px;
}
.padding-25-5px {
  padding: 25.5px;
}
.padding-25-75px {
  padding: 25.75px;
}
.padding-26px {
  padding: 26px;
}
.padding-26-25px {
  padding: 26.25px;
}
.padding-26-5px {
  padding: 26.5px;
}
.padding-26-75px {
  padding: 26.75px;
}
.padding-27px {
  padding: 27px;
}
.padding-27-25px {
  padding: 27.25px;
}
.padding-27-5px {
  padding: 27.5px;
}
.padding-27-75px {
  padding: 27.75px;
}
.padding-28px {
  padding: 28px;
}
.padding-28-25px {
  padding: 28.25px;
}
.padding-28-5px {
  padding: 28.5px;
}
.padding-28-75px {
  padding: 28.75px;
}
.padding-29px {
  padding: 29px;
}
.padding-29-25px {
  padding: 29.25px;
}
.padding-29-5px {
  padding: 29.5px;
}
.padding-29-75px {
  padding: 29.75px;
}
.padding-30px {
  padding: 30px;
}
.padding-30-25px {
  padding: 30.25px;
}
.padding-30-5px {
  padding: 30.5px;
}
.padding-30-75px {
  padding: 30.75px;
}
.padding-31px {
  padding: 31px;
}
.padding-31-25px {
  padding: 31.25px;
}
.padding-31-5px {
  padding: 31.5px;
}
.padding-31-75px {
  padding: 31.75px;
}
.padding-32px {
  padding: 32px;
}
.padding-32-25px {
  padding: 32.25px;
}
.padding-32-5px {
  padding: 32.5px;
}
.padding-32-75px {
  padding: 32.75px;
}
.padding-33px {
  padding: 33px;
}
.padding-33-25px {
  padding: 33.25px;
}
.padding-33-5px {
  padding: 33.5px;
}
.padding-33-75px {
  padding: 33.75px;
}
.padding-34px {
  padding: 34px;
}
.padding-34-25px {
  padding: 34.25px;
}
.padding-34-5px {
  padding: 34.5px;
}
.padding-34-75px {
  padding: 34.75px;
}
.padding-35px {
  padding: 35px;
}
.padding-35-25px {
  padding: 35.25px;
}
.padding-35-5px {
  padding: 35.5px;
}
.padding-35-75px {
  padding: 35.75px;
}
.padding-36px {
  padding: 36px;
}
.padding-36-25px {
  padding: 36.25px;
}
.padding-36-5px {
  padding: 36.5px;
}
.padding-36-75px {
  padding: 36.75px;
}
.padding-37px {
  padding: 37px;
}
.padding-37-25px {
  padding: 37.25px;
}
.padding-37-5px {
  padding: 37.5px;
}
.padding-37-75px {
  padding: 37.75px;
}
.padding-38px {
  padding: 38px;
}
.padding-38-25px {
  padding: 38.25px;
}
.padding-38-5px {
  padding: 38.5px;
}
.padding-38-75px {
  padding: 38.75px;
}
.padding-39px {
  padding: 39px;
}
.padding-39-25px {
  padding: 39.25px;
}
.padding-39-5px {
  padding: 39.5px;
}
.padding-39-75px {
  padding: 39.75px;
}
.padding-40px {
  padding: 40px;
}
