.width-0-25px {
  width: 0.25px;
}
.width-0-5px {
  width: 0.5px;
}
.width-0-75px {
  width: 0.75px;
}
.width-1px {
  width: 1px;
}
.width-1-25px {
  width: 1.25px;
}
.width-1-5px {
  width: 1.5px;
}
.width-1-75px {
  width: 1.75px;
}
.width-2px {
  width: 2px;
}
.width-2-25px {
  width: 2.25px;
}
.width-2-5px {
  width: 2.5px;
}
.width-2-75px {
  width: 2.75px;
}
.width-3px {
  width: 3px;
}
.width-3-25px {
  width: 3.25px;
}
.width-3-5px {
  width: 3.5px;
}
.width-3-75px {
  width: 3.75px;
}
.width-4px {
  width: 4px;
}
.width-4-25px {
  width: 4.25px;
}
.width-4-5px {
  width: 4.5px;
}
.width-4-75px {
  width: 4.75px;
}
.width-5px {
  width: 5px;
}
.width-5-25px {
  width: 5.25px;
}
.width-5-5px {
  width: 5.5px;
}
.width-5-75px {
  width: 5.75px;
}
.width-6px {
  width: 6px;
}
.width-6-25px {
  width: 6.25px;
}
.width-6-5px {
  width: 6.5px;
}
.width-6-75px {
  width: 6.75px;
}
.width-7px {
  width: 7px;
}
.width-7-25px {
  width: 7.25px;
}
.width-7-5px {
  width: 7.5px;
}
.width-7-75px {
  width: 7.75px;
}
.width-8px {
  width: 8px;
}
.width-8-25px {
  width: 8.25px;
}
.width-8-5px {
  width: 8.5px;
}
.width-8-75px {
  width: 8.75px;
}
.width-9px {
  width: 9px;
}
.width-9-25px {
  width: 9.25px;
}
.width-9-5px {
  width: 9.5px;
}
.width-9-75px {
  width: 9.75px;
}
.width-10px {
  width: 10px;
}
.width-10-25px {
  width: 10.25px;
}
.width-10-5px {
  width: 10.5px;
}
.width-10-75px {
  width: 10.75px;
}
.width-11px {
  width: 11px;
}
.width-11-25px {
  width: 11.25px;
}
.width-11-5px {
  width: 11.5px;
}
.width-11-75px {
  width: 11.75px;
}
.width-12px {
  width: 12px;
}
.width-12-25px {
  width: 12.25px;
}
.width-12-5px {
  width: 12.5px;
}
.width-12-75px {
  width: 12.75px;
}
.width-13px {
  width: 13px;
}
.width-13-25px {
  width: 13.25px;
}
.width-13-5px {
  width: 13.5px;
}
.width-13-75px {
  width: 13.75px;
}
.width-14px {
  width: 14px;
}
.width-14-25px {
  width: 14.25px;
}
.width-14-5px {
  width: 14.5px;
}
.width-14-75px {
  width: 14.75px;
}
.width-15px {
  width: 15px;
}
.width-15-25px {
  width: 15.25px;
}
.width-15-5px {
  width: 15.5px;
}
.width-15-75px {
  width: 15.75px;
}
.width-16px {
  width: 16px;
}
.width-16-25px {
  width: 16.25px;
}
.width-16-5px {
  width: 16.5px;
}
.width-16-75px {
  width: 16.75px;
}
.width-17px {
  width: 17px;
}
.width-17-25px {
  width: 17.25px;
}
.width-17-5px {
  width: 17.5px;
}
.width-17-75px {
  width: 17.75px;
}
.width-18px {
  width: 18px;
}
.width-18-25px {
  width: 18.25px;
}
.width-18-5px {
  width: 18.5px;
}
.width-18-75px {
  width: 18.75px;
}
.width-19px {
  width: 19px;
}
.width-19-25px {
  width: 19.25px;
}
.width-19-5px {
  width: 19.5px;
}
.width-19-75px {
  width: 19.75px;
}
.width-20px {
  width: 20px;
}
.width-20-25px {
  width: 20.25px;
}
.width-20-5px {
  width: 20.5px;
}
.width-20-75px {
  width: 20.75px;
}
.width-21px {
  width: 21px;
}
.width-21-25px {
  width: 21.25px;
}
.width-21-5px {
  width: 21.5px;
}
.width-21-75px {
  width: 21.75px;
}
.width-22px {
  width: 22px;
}
.width-22-25px {
  width: 22.25px;
}
.width-22-5px {
  width: 22.5px;
}
.width-22-75px {
  width: 22.75px;
}
.width-23px {
  width: 23px;
}
.width-23-25px {
  width: 23.25px;
}
.width-23-5px {
  width: 23.5px;
}
.width-23-75px {
  width: 23.75px;
}
.width-24px {
  width: 24px;
}
.width-24-25px {
  width: 24.25px;
}
.width-24-5px {
  width: 24.5px;
}
.width-24-75px {
  width: 24.75px;
}
.width-25px {
  width: 25px;
}
.width-25-25px {
  width: 25.25px;
}
.width-25-5px {
  width: 25.5px;
}
.width-25-75px {
  width: 25.75px;
}
.width-26px {
  width: 26px;
}
.width-26-25px {
  width: 26.25px;
}
.width-26-5px {
  width: 26.5px;
}
.width-26-75px {
  width: 26.75px;
}
.width-27px {
  width: 27px;
}
.width-27-25px {
  width: 27.25px;
}
.width-27-5px {
  width: 27.5px;
}
.width-27-75px {
  width: 27.75px;
}
.width-28px {
  width: 28px;
}
.width-28-25px {
  width: 28.25px;
}
.width-28-5px {
  width: 28.5px;
}
.width-28-75px {
  width: 28.75px;
}
.width-29px {
  width: 29px;
}
.width-29-25px {
  width: 29.25px;
}
.width-29-5px {
  width: 29.5px;
}
.width-29-75px {
  width: 29.75px;
}
.width-30px {
  width: 30px;
}
.width-30-25px {
  width: 30.25px;
}
.width-30-5px {
  width: 30.5px;
}
.width-30-75px {
  width: 30.75px;
}
.width-31px {
  width: 31px;
}
.width-31-25px {
  width: 31.25px;
}
.width-31-5px {
  width: 31.5px;
}
.width-31-75px {
  width: 31.75px;
}
.width-32px {
  width: 32px;
}
.width-32-25px {
  width: 32.25px;
}
.width-32-5px {
  width: 32.5px;
}
.width-32-75px {
  width: 32.75px;
}
.width-33px {
  width: 33px;
}
.width-33-25px {
  width: 33.25px;
}
.width-33-5px {
  width: 33.5px;
}
.width-33-75px {
  width: 33.75px;
}
.width-34px {
  width: 34px;
}
.width-34-25px {
  width: 34.25px;
}
.width-34-5px {
  width: 34.5px;
}
.width-34-75px {
  width: 34.75px;
}
.width-35px {
  width: 35px;
}
.width-35-25px {
  width: 35.25px;
}
.width-35-5px {
  width: 35.5px;
}
.width-35-75px {
  width: 35.75px;
}
.width-36px {
  width: 36px;
}
.width-36-25px {
  width: 36.25px;
}
.width-36-5px {
  width: 36.5px;
}
.width-36-75px {
  width: 36.75px;
}
.width-37px {
  width: 37px;
}
.width-37-25px {
  width: 37.25px;
}
.width-37-5px {
  width: 37.5px;
}
.width-37-75px {
  width: 37.75px;
}
.width-38px {
  width: 38px;
}
.width-38-25px {
  width: 38.25px;
}
.width-38-5px {
  width: 38.5px;
}
.width-38-75px {
  width: 38.75px;
}
.width-39px {
  width: 39px;
}
.width-39-25px {
  width: 39.25px;
}
.width-39-5px {
  width: 39.5px;
}
.width-39-75px {
  width: 39.75px;
}
.width-40px {
  width: 40px;
}
