.border-radius-1px {
  border-radius: 1px;
}
.border-radius-2px {
  border-radius: 2px;
}
.border-radius-3px {
  border-radius: 3px;
}
.border-radius-4px {
  border-radius: 4px;
}
.border-radius-5px {
  border-radius: 5px;
}
.border-radius-6px {
  border-radius: 6px;
}
.border-radius-7px {
  border-radius: 7px;
}
.border-radius-8px {
  border-radius: 8px;
}
.border-radius-9px {
  border-radius: 9px;
}
.border-radius-10px {
  border-radius: 10px;
}
.border-radius-11px {
  border-radius: 11px;
}
.border-radius-12px {
  border-radius: 12px;
}
.border-radius-13px {
  border-radius: 13px;
}
.border-radius-14px {
  border-radius: 14px;
}
.border-radius-15px {
  border-radius: 15px;
}
.border-radius-16px {
  border-radius: 16px;
}
.border-radius-17px {
  border-radius: 17px;
}
.border-radius-18px {
  border-radius: 18px;
}
.border-radius-19px {
  border-radius: 19px;
}
.border-radius-20px {
  border-radius: 20px;
}
.border-radius-21px {
  border-radius: 21px;
}
.border-radius-22px {
  border-radius: 22px;
}
.border-radius-23px {
  border-radius: 23px;
}
.border-radius-24px {
  border-radius: 24px;
}
.border-radius-25px {
  border-radius: 25px;
}
.border-radius-26px {
  border-radius: 26px;
}
.border-radius-27px {
  border-radius: 27px;
}
.border-radius-28px {
  border-radius: 28px;
}
.border-radius-29px {
  border-radius: 29px;
}
.border-radius-30px {
  border-radius: 30px;
}
.border-radius-31px {
  border-radius: 31px;
}
.border-radius-32px {
  border-radius: 32px;
}
.border-radius-33px {
  border-radius: 33px;
}
.border-radius-34px {
  border-radius: 34px;
}
.border-radius-35px {
  border-radius: 35px;
}
.border-radius-36px {
  border-radius: 36px;
}
.border-radius-37px {
  border-radius: 37px;
}
.border-radius-38px {
  border-radius: 38px;
}
.border-radius-39px {
  border-radius: 39px;
}
.border-radius-40px {
  border-radius: 40px;
}
.border-radius-41px {
  border-radius: 41px;
}
.border-radius-42px {
  border-radius: 42px;
}
.border-radius-43px {
  border-radius: 43px;
}
.border-radius-44px {
  border-radius: 44px;
}
.border-radius-45px {
  border-radius: 45px;
}
.border-radius-46px {
  border-radius: 46px;
}
.border-radius-47px {
  border-radius: 47px;
}
.border-radius-48px {
  border-radius: 48px;
}
.border-radius-49px {
  border-radius: 49px;
}
.border-radius-50px {
  border-radius: 50px;
}
