.border-width-1px {
  border-width: 1px;
}
.border-width-2px {
  border-width: 2px;
}
.border-width-3px {
  border-width: 3px;
}
.border-width-4px {
  border-width: 4px;
}
.border-width-5px {
  border-width: 5px;
}
.border-width-6px {
  border-width: 6px;
}
.border-width-7px {
  border-width: 7px;
}
.border-width-8px {
  border-width: 8px;
}
.border-width-9px {
  border-width: 9px;
}
.border-width-10px {
  border-width: 10px;
}
.border-width-11px {
  border-width: 11px;
}
.border-width-12px {
  border-width: 12px;
}
.border-width-13px {
  border-width: 13px;
}
.border-width-14px {
  border-width: 14px;
}
.border-width-15px {
  border-width: 15px;
}
.border-width-16px {
  border-width: 16px;
}
.border-width-17px {
  border-width: 17px;
}
.border-width-18px {
  border-width: 18px;
}
.border-width-19px {
  border-width: 19px;
}
.border-width-20px {
  border-width: 20px;
}
.border-width-21px {
  border-width: 21px;
}
.border-width-22px {
  border-width: 22px;
}
.border-width-23px {
  border-width: 23px;
}
.border-width-24px {
  border-width: 24px;
}
.border-width-25px {
  border-width: 25px;
}
.border-width-26px {
  border-width: 26px;
}
.border-width-27px {
  border-width: 27px;
}
.border-width-28px {
  border-width: 28px;
}
.border-width-29px {
  border-width: 29px;
}
.border-width-30px {
  border-width: 30px;
}
.border-width-31px {
  border-width: 31px;
}
.border-width-32px {
  border-width: 32px;
}
.border-width-33px {
  border-width: 33px;
}
.border-width-34px {
  border-width: 34px;
}
.border-width-35px {
  border-width: 35px;
}
.border-width-36px {
  border-width: 36px;
}
.border-width-37px {
  border-width: 37px;
}
.border-width-38px {
  border-width: 38px;
}
.border-width-39px {
  border-width: 39px;
}
.border-width-40px {
  border-width: 40px;
}
.border-width-41px {
  border-width: 41px;
}
.border-width-42px {
  border-width: 42px;
}
.border-width-43px {
  border-width: 43px;
}
.border-width-44px {
  border-width: 44px;
}
.border-width-45px {
  border-width: 45px;
}
.border-width-46px {
  border-width: 46px;
}
.border-width-47px {
  border-width: 47px;
}
.border-width-48px {
  border-width: 48px;
}
.border-width-49px {
  border-width: 49px;
}
.border-width-50px {
  border-width: 50px;
}
