.font-size-1px {
  font-size: 1px;
}
.font-size-2px {
  font-size: 2px;
}
.font-size-3px {
  font-size: 3px;
}
.font-size-4px {
  font-size: 4px;
}
.font-size-5px {
  font-size: 5px;
}
.font-size-6px {
  font-size: 6px;
}
.font-size-7px {
  font-size: 7px;
}
.font-size-8px {
  font-size: 8px;
}
.font-size-9px {
  font-size: 9px;
}
.font-size-10px {
  font-size: 10px;
}
.font-size-11px {
  font-size: 11px;
}
.font-size-12px {
  font-size: 12px;
}
.font-size-13px {
  font-size: 13px;
}
.font-size-14px {
  font-size: 14px;
}
.font-size-15px {
  font-size: 15px;
}
.font-size-16px {
  font-size: 16px;
}
.font-size-17px {
  font-size: 17px;
}
.font-size-18px {
  font-size: 18px;
}
.font-size-19px {
  font-size: 19px;
}
.font-size-20px {
  font-size: 20px;
}
.font-size-21px {
  font-size: 21px;
}
.font-size-22px {
  font-size: 22px;
}
.font-size-23px {
  font-size: 23px;
}
.font-size-24px {
  font-size: 24px;
}
.font-size-25px {
  font-size: 25px;
}
.font-size-26px {
  font-size: 26px;
}
.font-size-27px {
  font-size: 27px;
}
.font-size-28px {
  font-size: 28px;
}
.font-size-29px {
  font-size: 29px;
}
.font-size-30px {
  font-size: 30px;
}
.font-size-31px {
  font-size: 31px;
}
.font-size-32px {
  font-size: 32px;
}
.font-size-33px {
  font-size: 33px;
}
.font-size-34px {
  font-size: 34px;
}
.font-size-35px {
  font-size: 35px;
}
.font-size-36px {
  font-size: 36px;
}
.font-size-37px {
  font-size: 37px;
}
.font-size-38px {
  font-size: 38px;
}
.font-size-39px {
  font-size: 39px;
}
.font-size-40px {
  font-size: 40px;
}
.font-size-41px {
  font-size: 41px;
}
.font-size-42px {
  font-size: 42px;
}
.font-size-43px {
  font-size: 43px;
}
.font-size-44px {
  font-size: 44px;
}
.font-size-45px {
  font-size: 45px;
}
.font-size-46px {
  font-size: 46px;
}
.font-size-47px {
  font-size: 47px;
}
.font-size-48px {
  font-size: 48px;
}
.font-size-49px {
  font-size: 49px;
}
.font-size-50px {
  font-size: 50px;
}
.font-size-51px {
  font-size: 51px;
}
.font-size-52px {
  font-size: 52px;
}
.font-size-53px {
  font-size: 53px;
}
.font-size-54px {
  font-size: 54px;
}
.font-size-55px {
  font-size: 55px;
}
.font-size-56px {
  font-size: 56px;
}
.font-size-57px {
  font-size: 57px;
}
.font-size-58px {
  font-size: 58px;
}
.font-size-59px {
  font-size: 59px;
}
.font-size-60px {
  font-size: 60px;
}
.font-size-61px {
  font-size: 61px;
}
.font-size-62px {
  font-size: 62px;
}
.font-size-63px {
  font-size: 63px;
}
.font-size-64px {
  font-size: 64px;
}
